body{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  align-items: baseline;
  align-self: center;  
  margin: 0;
}

li{
  box-sizing: border-box;
}

section{
  flex-direction: column;
  align-items: baseline;
  margin: auto;
}

section h1{
  text-align: center;
}

main{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card{
  display: flex;
  width: 20rem;
  height: 23rem;
  /* border: solid 1px black; */
  /* border-radius: 15px; */
  flex-direction: column;
}

#records{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#itemInput{
  margin: 1px;
  height: 2rem;
  width: 13rem;
}

#addButton{
  height: 95%;
}

.deleteButton{
  height: 6mm;
  width: 6mm;
  align-content: center;
  text-align: center;
  align-self: center;
  align-items: center;
}

#divItems{
  width: 100%;
  display: grid;
  font-size: 1.2rem;
}

ul{
  width: 100%;
  list-style: none;
  display: grid;
}

li{
  margin-bottom: 2.5mm;
  width: 100%;
  margin: 3px;
  font-size: 1.5rem;
  border: 1px black;
  border-radius: 2px;
  transition: 0.2s;
  align-content: center;
  align-self: center;
  align-items: center;
}

li:hover{
  background-color: rgb(166, 89, 238);
  color: white;
}