body{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  align-items: baseline;
  align-self: center;  
  margin: 0;
}

section{
  flex-direction: column;
  align-items: baseline;
  margin: auto;
}

section h1{
  text-align: center;
}

main{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card{
  display: flex;
  width: 20rem;
  height: 23rem;
  /* border: solid 1px black; */
  /* border-radius: 15px; */
  flex-direction: column;
}

#records{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: auto; */
}

#itemInput{
  margin: 1px;
  height: 2rem;
  width: 13rem;
}

#addButton{
  height: 95%;
}

.deleteButto{
  align-content: center;
  text-align: center;
  align-self: center;
  align-items: center;
}

#divItems{
  display: flex;
  font-size: 1.2rem;
  align-self: auto;
  align-items: flex-end;
}

ol{
  list-style: none;
}

li{
  margin: 3px;
}
